* {
    box-sizing: border-box;
}

header {
    text-align: center;
    font-size: 8vmin;
    margin: 0 0 0 100px;
}

body {
    height: 100vh;
    margin: 0;
    display: flex;
    align-items: center;
    font-family: 'Didot', 'sans-serif';
}

#message {
    text-align: center;
    font-size: 3vmin;
    margin: 0 0 0 13vmin;
}

#board {
    display: grid;
    grid-template-columns: repeat(3, 10vmin); 
    grid-template-rows: repeat(3, 10vmin);
    gap: 1vmin;
    margin: 0 0 0 13vmin;
    /*justify-content: center;
    align-content: center;
    justify-items: center;
    align-items: center;*/ 
}

*#board > div {
    background-color: lightblue;
    background-size: contain;
}

#reset {
    margin: 0 0 0 10vmin;
    font-family: 'Didot', 'sans-serif';
}

#reset:hover {
    background-color: lightblue;
}

